.promo {
    min-height: 100vh;
    background: url("../img/main_bg.jpg") center (center/cover) no-repeat;
    padding-top: 205px;
    &__title {
        margin-top: 9px;
    }
    &__subtitle {
        position: relative;
        @include before_circle;
        padding-left: 10px;
        z-index: 2;
    }
    &__btns {
        margin-top: 25px;
    }
}

.social {
    position:fixed;
    top: 414px;
    left: -120px;
    width: 338px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: rotate(-90deg);
    &__devider {
        width: 70px;
        height: 2px;
        background: #000;
    }
}